*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    font-size: 14px;
    margin-top: 47px;
    margin-left: 42px;
    line-height: 44px;
    

}

.link-header{
    color: #17233D;
    font-weight: 600;
    margin-right: 23px;
    cursor: pointer;
    text-decoration: none;
}

.link-button{
    color: #FFFFFF;
    background-color: #6FBF44;
    width: 124px;
    height: 51px;
    border-radius: 5px;
    border: #4CB538;
    cursor: pointer;
}

.logo-img{
    width: 595.18px; 
    height: 500px;
    margin-top: 100px;
    margin-left: 121px;
    display: inline-block;
}


section{
    display: inline-block;
    margin-left: 84px;
   
    
}

h1{
    margin-bottom: 80px;
    font-size: 62px;
    line-height: 82px;
    font-weight: 700;
    color: #161A49;
    letter-spacing: 5.6px;
    
}
p{
    width: 493px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #4B505A;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
}
.learn-more{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-decoration: none;
    color:#6FBF44;
}

@media screen and (max-width:1355px){

    .link-header{
        display: none;
    }
    .link-button{
        position: relative;
        right: 0%;
        margin-left: 80%;
    }

    h1{
        
        position: relative;
        bottom: 450px;
        font-size: 30x;
        text-align: center;
        
    }

    .logo-img{
        width: 100%;
        left: 30px;
        position: relative;
        top: 700px;
        margin: 0;
    }
    p{
        width: 100%;
        position: relative;
        bottom: 400px;
        font-size: 18px;
        text-align: center;
    }

    .learn-more{
        position: relative;
        bottom: 375px;
        margin-left: 38.0%;

    }


}


